<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">
            <strong>
                Bem vindo ao RAHSys
                <hr />
            </strong>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="portlet light alturaIgual">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="circulo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="font-blue-chambray">
                            <strong>
                                Clientes/Contratos
                            </strong>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="font-blue-dark">
                            Utilize esta opção para registrar as informações dos contratos e clientes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet light alturaIgual">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="circulo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="font-blue-chambray">
                            <strong>
                                Controle de Manutenção
                            </strong>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="font-blue-dark">
                            Aqui você poderá visualizar as manutenções, informar a ocorrência de manutenções corretivas
                            ou preditivas e controlar as datas das novas manutenções preditivas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="portlet light alturaIgual">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="circulo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="font-blue-chambray">
                            <strong>
                                Administração do Sistema
                            </strong>
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="font-blue-dark">
                            Aqui é feito todo o cadastro básico de informações do sistem, tais como:
                            Cadastro de usuários, Tipos de Telhado, Fazendas e etc.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            var tamanhoMaior = 0;
            $(".alturaIgual").each(function (index, el) {
                var tamanho = $(el).height();
                if (tamanho > tamanhoMaior)
                    tamanhoMaior = tamanho;
            });

            $(".alturaIgual").each(function (index, el) {
                $(el).height(tamanhoMaior);
            });
        });
    </script>
}