@model System.Web.Mvc.HandleErrorAttribute

@{
    ViewBag.Title = "Accesso Negado";
}

@section styles{
    @Styles.Render("~/Error/css");
}

<div class="row">
    <div class="col-md-12 page-500">
        <div class=" number font-red"> 400 </div>
        <div class=" details">
            <h3>Oops! Ocorreu um erro</h3>
            <p>
                Você não possui permissão para executar esta ação. <br />
                Favor contactar o Administrador do sistema.
                <br />
            </p>
            <p>
                <a href="@Url.Action("Index","Home")" class="btn red btn-outline"> Retornar Ao Inicio</a>
                <br>
            </p>
        </div>
    </div>
</div>