@model System.Web.Mvc.HandleErrorAttribute

@{
    ViewBag.Title = "Access Denied";
}

<h1 class="text-danger">Acesso Negado.</h1>
<h2 class="text-danger">Você não possui permissão para executar esta ação. <br /> 
    Favor contactar o Administrador do sistema.</h2>